i18npool/source/localedata/data/locale.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ............................................................... -->
<!-- Locale data specification DTD ................................. -->
<!-- ............................................................... -->

<!--
    ===========================================================================
    ATTENTION! PLEASE! HEADS UP! IMPORTANT!
    ===========================================================================
    Please test locale data files in a non-product (!) build, which implements
    some checks and pops up assertion message boxes if the tests fail, by
    following this procedure:
    1. Create a new spreadsheet document.
    2. On a cell use context menu -> Format Cells -> Numbers.
    3. Select the locale in the Language list box => MUST be assertion free.
    3.a. Assertions are only shown at the very first time a number formatter
         is created, respectively the first time a specific locale data is
         used.  To repeat steps 1.-3. you'd need to create another spreadsheet
         document.

    ===========================================================================
    NOTE the FormatElement comments further down.
    ===========================================================================

-->

<!-- ............................................................... -->
<!-- Entities for characters and symbols ........................... -->

<!ENTITY % UNOModule
        'unoid                     CDATA              #IMPLIED'>
<!ENTITY % MessageID
        'msgid                     CDATA              #REQUIRED'>
<!ENTITY % RefLocale
        'ref                     CDATA              #IMPLIED'>
<!-- The locale referred to for the sub categories -->

<!ELEMENT DefaultName  (#PCDATA)>

<!-- Locale is made of different sub categories -->
<!ELEMENT Locale (LC_INFO, LC_CTYPE, LC_FORMAT, LC_COLLATION, LC_SEARCH, LC_CALENDAR, LC_CURRENCY,  LC_TRANSLITERATION, LC_MISC, LC_NumberingLevel, LC_OutLineNumberingLevel)>
<!ATTLIST Locale  version CDATA #REQUIRED>
<!-- Valid number -->

<!ELEMENT LC_INFO (Language, Country, Platform?, Varient?)>

<!ELEMENT Language (LangID, DefaultName) >
<!ELEMENT LangID (#PCDATA) >
<!-- LangID must be valid two letter language identifier  defined by ISO-639 -->

<!ELEMENT Country (CountryID, DefaultName) >
<!ELEMENT CountryID (#PCDATA) >
<!-- CountryID must be valid two letter country identifier  defined by ISO-3166 -->

<!ELEMENT Platform (PlatformID) >
<!ELEMENT PlatformID (#PCDATA) >
<!-- can be generic|unix|win32|macos -->

<!ELEMENT Varient (#PCDATA) >

<!ELEMENT LC_FORMAT (FormatElement*) >
<!ATTLIST LC_FORMAT %RefLocale;>
<!ATTLIST LC_FORMAT replaceFrom CDATA #IMPLIED>
<!-- Define placeholder for currency code -->
<!ATTLIST LC_FORMAT replaceTo CDATA #IMPLIED>
<!-- Currency code to be used to replace the placeholder -->

<!ELEMENT FormatElement   ( FormatCode, DefaultName?)>
<!ATTLIST FormatElement    %MessageID;>
<!ATTLIST FormatElement    default CDATA #REQUIRED >
<!ATTLIST FormatElement    type    CDATA #REQUIRED >
<!--    short   medium  long
    There may be up to three groups (type="short", type="medium", type="long")
    for each usage category defined. Each group, if defined, needs excactly one
    default. The type roughly determines the display string length, for example
    short, medium, and long date formats.

    The number formatter determines an ultimate default format of a specific
    usage category by looking at the medium, long, and short default formats,
    in that very particular order.
-->
<!ATTLIST FormatElement    usage    CDATA #REQUIRED >
<!--
Can be 	FIXED_NUMBER ,FRACTION_NUMBER ,PERCENT_NUMBER  	SCIENTIFIC_NUMBER
	CURRENCY ,DATE ,TIME ,DATE_TIME
-->
<!ATTLIST FormatElement formatindex  CDATA #REQUIRED>
<!--
    The following FormatElements must follow specific rules:

    All:
        The format indices 1..49 are reserved and, for backwards compatibility,
        MUST be used as stated in
        offapi/com/sun/star/i18n/NumberFormatIndex.idl.
        Note that 48 and 49 are used internally and must not be used in locale
        data XML files. All other formats have to be present.
        Note also that "must be used as stated" does not mean that the format
        codes must be identical, of course the meaning of a format code should
        match, for example en_US MM/DD/YY matches de_DE DD.MM.YY
        Just imagine the same index being used with another locale shouldn't
        change the meaning of representation significantly.

        You'll notice differences of non-matching format codes only if
        documents use the Default language in number formats and either are
        stored in old SO5 binary file format and loaded on another system where
        languages/locales aren't the same, or if the default locale is switched
        under menu Tools.Options.LanguageSettings.Languages.LocaleSetting
        dialog, which exchanges formats on the fly in the spreadsheet
        application. Please check it out! So far _no_ locale data file we
        received got that right, especially not in date formats!

    Of usage="DATE":
        formatindex="21" is used to edit already existing date data. In order
        to always edit the full century the long year YYYY code must be used.
        Furthermore, the format has to be of an editable type, of course, which
        means parseable. Therefore it should only contain DD, MM, YYYY and date
        separators, and the YMD default order is determined from the order
        encountered in this format.
        TODO: Future versions should make use of an edit="true" attribute
        instead of relying on this special requirement.

        Formatindices 32 and 33 are always used for ISO 8601 YY-MM-DD
        respectively YYYY-MM-DD format codes.

    Of usage="DATE_TIME":
        formatindex="47" is used to edit already existing combined date/time
        data. The requirements are the same as for formatindex="21" above.

    Of usage="TIME":
        formatindices 43, 44, 45 are special in the sense that they are
        programmatically used to automatically display values that meet certain
        criteria:
        Formatindex="43" contains the [HH] format code that displays hour
        values greater than or equal to 24 (as opposed to a simple HH that
        displays modulo 24).
        Formatindex="44" uses no hour code but 100th seconds and the
        Time100SecSeparator.
        Formatindex="45" uses both [HH] hour code and 100th seconds to be able
        to edit such time values without loosing information.

    Of usage="CURRENCY":
        formatindices 12, 13, 14, 15, 17 with [$xxx-yyy] notation must use the
        xxx currency symbol that has the attribute
        usedInCompatibleFormatCodes="true".  The hexadecimal yyy LANGID must be
        properly set. It can be found in project util module tools file
        tools/inc/lang.hxx.  You may verify the proper use of the xxx currency
        symbol with the AWK script
        i18npool/source/localedata/data/currency-check.awk, it mustn't display
        any output. If it does, then there's something wrong.
-->
<!ELEMENT FormatCode      (#PCDATA)>

<!-- Depricated
<!ELEMENT DateFormats     (FormatElement+)>
<!ELEMENT TimeFormats     (FormatElement+)>
<!ELEMENT NumberFormats   (FormatElement+)>
<!ELEMENT CurrencyFormats (FormatElement+)>
<!ELEMENT PercentFormats (FormatElement+)>
-->

<!ELEMENT LC_CALENDAR (Calendar* ) >
<!ATTLIST LC_CALENDAR %RefLocale;>
<!ELEMENT Calendar (DaysOfWeek, MonthsOfYear, Eras, StartDayOfWeek, MinimalDaysInFirstWeek) >
<!ATTLIST Calendar %UNOModule;>
<!-- the unoid of a gregorian calendar MUST be lower case "gregorian" -->
<!ATTLIST Calendar default CDATA #REQUIRED >
<!ELEMENT DaysOfWeek (Day*)>
<!ATTLIST DaysOfWeek %RefLocale;>
<!-- Sequence of days is important, MUST start with Sunday -->
<!ELEMENT Day (DayID, DefaultAbbrvName, DefaultFullName)>
<!ELEMENT DayID (#PCDATA)>
<!-- preferably the lower case abbreviated English name like sun for Sunday -->
<!ELEMENT DefaultAbbrvName (#PCDATA)>
<!ELEMENT DefaultFullName (#PCDATA)>
<!ELEMENT MonthsOfYear (Month*)>
<!ATTLIST MonthsOfYear %RefLocale;>
<!ELEMENT Month (MonthID, DefaultAbbrvName, DefaultFullName)>
<!ELEMENT MonthID (#PCDATA)>
<!-- preferably the lower case abbreviated English name like jan for January -->
<!ELEMENT Eras (Era*)>
<!ATTLIST Eras %RefLocale;>
<!ELEMENT Era (EraID, DefaultAbbrvName, DefaultFullName)>
<!ELEMENT EraID (#PCDATA)>
<!-- if a calendar has special eras (like zh_TW ROC or ja_JP Gengou calendar)
     and a date before those eras is undefined, a leading (first) dummy era
     with EraID="Dummy" has to be defined to enable the number formatter to
     fall back to a gregorian calendar for those date values if the XCalendar
     implementation returns an era value of 0.
-->
<!ELEMENT StartDayOfWeek (DayID)>
<!-- MUST exactly match (case significant!) one of the DayID of DaysOfWeek -->
<!ELEMENT MinimalDaysInFirstWeek (#PCDATA)>

<!ELEMENT LC_CURRENCY (Currency* ) >
<!ATTLIST LC_CURRENCY %RefLocale;>
<!ELEMENT Currency (CurrencyID, CurrencySymbol, BankSymbol, CurrencyName, DecimalPlaces)>
<!ATTLIST Currency  default CDATA #REQUIRED >
<!ATTLIST Currency  usedInCompatibleFormatCodes CDATA #REQUIRED >
<!-- if this currency is the one used in compatible number format codes with
     <member>FormatElement::formatIndex</member> values in the range 12..17.
     Those format codes are used to generate some old style currency format
     codes for compatibility with StarOffice5 and StarOffice4.
     Every locale data file MUST contain exactly one currency having this set to "true",
     and that currency MUST be used in format codes 12..17.
     For European countries using the EURo it MUST be the old currency, for example, DM.
-->
<!ELEMENT CurrencyID (#PCDATA)>
<!ELEMENT CurrencySymbol (#PCDATA)>
<!ELEMENT BankSymbol (#PCDATA)>
<!ELEMENT CurrencyName (#PCDATA)>
<!ELEMENT DecimalPlaces (#PCDATA)>

<!ELEMENT LC_CTYPE (Separators?, Markers?, TimeAM?, TimePM?,  MeasurementSystem?)>
<!ATTLIST LC_CTYPE  %RefLocale;>
<!ATTLIST LC_CTYPE  %UNOModule;>
<!ELEMENT Separators (DateSeparator, ThousandSeparator, DecimalSeparator, TimeSeparator, Time100SecSeparator, ListSeparator, LongDateDayOfWeekSeparator, LongDateDaySeparator, LongDateMonthSeparator, LongDateYearSeparator)>
<!ELEMENT Markers (QuotationStart, QuotationEnd, DoubleQuotationStart, DoubleQuotationEnd)>
<!ELEMENT DateSeparator (#PCDATA)>
<!ELEMENT ThousandSeparator (#PCDATA)>
<!ELEMENT DecimalSeparator (#PCDATA)>
<!ELEMENT TimeSeparator (#PCDATA)>
<!ELEMENT Time100SecSeparator (#PCDATA)>
<!ELEMENT TimeAM (#PCDATA)>
<!ELEMENT TimePM (#PCDATA)>
<!ELEMENT ListSeparator (#PCDATA)>
<!ELEMENT QuotationStart (#PCDATA)>
<!ELEMENT QuotationEnd  (#PCDATA)>
<!ELEMENT DoubleQuotationStart (#PCDATA)>
<!ELEMENT DoubleQuotationEnd (#PCDATA)>
<!ELEMENT MeasurementSystem  (#PCDATA)>
<!ELEMENT LongDateDayOfWeekSeparator (#PCDATA)>
<!ELEMENT LongDateDaySeparator (#PCDATA)>
<!ELEMENT LongDateMonthSeparator (#PCDATA)>
<!ELEMENT LongDateYearSeparator (#PCDATA)>

<!ELEMENT LC_COLLATION (Collator*, CollationOptions?)>
<!ATTLIST LC_COLLATION %RefLocale;>
<!ELEMENT Collator EMPTY>
<!ATTLIST Collator  %UNOModule;>
<!ATTLIST Collator  default CDATA #REQUIRED >
<!ELEMENT CollationOptions (TransliterationModules+)>
<!ELEMENT TransliterationModules (#PCDATA)>

<!ELEMENT LC_SEARCH (SearchOptions?)>
<!ATTLIST LC_SEARCH %RefLocale;>
<!ELEMENT SearchOptions (TransliterationModules+)>

<!ELEMENT LC_TRANSLITERATION (Transliteration*)>
<!ATTLIST LC_TRANSLITERATION %RefLocale;>
<!ELEMENT Transliteration EMPTY>
<!ATTLIST Transliteration  %UNOModule;>

<!ELEMENT LC_MISC (ForbiddenCharacters?, ReservedWords?)>
<!ATTLIST LC_MISC %RefLocale;>
<!ELEMENT ForbiddenCharacters (ForbiddenLineBeginCharacters, ForbiddenLineEndCharacters)>
<!ELEMENT ForbiddenLineBeginCharacters (#PCDATA)>
<!ELEMENT ForbiddenLineEndCharacters (#PCDATA)>

<!ELEMENT ReservedWords  (trueWord, falseWord, quarter1Word, quarter2Word, quarter3Word, quarter4Word, aboveWord, belowWord, quarter1Abbreviation, quarter2Abbreviation, quarter3Abbreviation, quarter4Abbreviation)>
<!-- order is significant! -->
<!ELEMENT trueWord (#PCDATA)>
<!ELEMENT falseWord (#PCDATA)>
<!ELEMENT quarter1Word (#PCDATA)>
<!ELEMENT quarter2Word (#PCDATA)>
<!ELEMENT quarter3Word (#PCDATA)>
<!ELEMENT quarter4Word (#PCDATA)>
<!ELEMENT aboveWord (#PCDATA)>
<!ELEMENT belowWord (#PCDATA)>
<!ELEMENT quarter1Abbreviation (#PCDATA)>    <!-- "Q1" (quarter), "T1" (trimestre), ... -->
<!ELEMENT quarter2Abbreviation (#PCDATA)>
<!ELEMENT quarter3Abbreviation (#PCDATA)>
<!ELEMENT quarter4Abbreviation (#PCDATA)>


<!--
the parameter NumType can have one of the following values:
0 = CHARS_UPPER_LETTER   EX: A, B, C, ....
1 = CHARS_LOWER_LETTER   EX: a, b, c, ....
2 = ROMAN_UPPER          EX: I, II, III, ....
3 = ROMAN_LOWER          EX: i, ii, iii, ....
4 = ARABIC               EX: 1, 2, 3, 4, .....
5 = NUMBER_ONE     numbering is invisible
6 = CHAR_SPECIAL   use a character from specified font
7 = PAGE_DESCRIPTOR  numbering is specified in page style
8 = BITMAP                numbering is displayed in bitmap graphic
9 = CHARS_UPPER_LETTER_N  EX: A, B, ...., AA, BB
10 = CHARS_LOWER_LETTER_N EX: a, b, ..., aa, bb, cc
11 = Transliteration, numbering is generated by transliteration service
12 = NatNum, numbering is generated by nativenumbersupplier service
13 = Numbering for fullwidth Arabic number
14 = Bullet for Circle Number
15 = Numbering for Chinese lower case number
16 = Numbering for Chinese upper case number
17 = Numbering for Traditional Chinese upper case number
18 = Bullet for Chinese Tian Gan
19 = Bullet for Chinese Di Zi
20 = Numbering for Japanese traditional number
21 = Bullet for Japanese AIU fullwidth
22 = Bullet for Japanese AIU halfwidth
23 = Bullet for Japanese IROHA fullwidth
24 = Bullet for Japanese IROHA halfwidth
25 = Numbering for Korean upper case number
26 = Numbering for Korean hangul number
27 = Bullet for Korean Hangul Jamo
28 = Bullet for Korean Hangul Syllable
29 = Bullet for Korean Hangul Circled Jamo
30 = Bullet for Korean Hangul Circled Syllable
-->

<!ELEMENT LC_NumberingLevel (NumberingLevel* )>
<!ATTLIST LC_NumberingLevel %RefLocale;>
<!ELEMENT NumberingLevel EMPTY>
<!ATTLIST NumberingLevel Prefix CDATA #REQUIRED>
<!ATTLIST NumberingLevel NumType CDATA #REQUIRED>
<!ATTLIST NumberingLevel Suffix CDATA  #REQUIRED>
<!ATTLIST NumberingLevel Transliteration CDATA #IMPLIED>


<!ELEMENT LC_OutLineNumberingLevel (OutlineStyle* )>
<!ATTLIST LC_OutLineNumberingLevel %RefLocale;>
<!ELEMENT OutlineStyle (OutLineNumberingLevel+)>
<!ELEMENT OutLineNumberingLevel EMPTY>
<!ATTLIST OutLineNumberingLevel Prefix CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel NumType CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel Suffix CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel BulletChar CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel BulletFontName CDATA   #REQUIRED>
<!ATTLIST OutLineNumberingLevel ParentNumbering CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel LeftMargin CDATA   #REQUIRED>
<!ATTLIST OutLineNumberingLevel SymbolTextDistance CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel FirstLineOffset CDATA  #REQUIRED >
<!ATTLIST OutLineNumberingLevel Transliteration CDATA #IMPLIED >

