sfx2/classification/xAL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:ciq:xal:3" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ct="urn:oasis:names:tc:ciq:ct:3" targetNamespace="urn:oasis:names:tc:ciq:xal:3" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:annotation>
		<xs:documentation> 
		Specification Name: OASIS CIQ TC - extensible Address Language (xAL) 
		Description: Defines the W3C schema for representing addresses
		(Using XML Schema based standard code list/enumeration mechanism - OPTION 1 AND DEFAULT)
		Produced by: OASIS Customer Information Quality Technical Committee
		URL: http://www.oasis-open.org/committees/ciq
		Version: 3.0  
		Status: Public Review Draft 03 ERRATA 
		Copyright: 2007-08, OASIS, http://www.oasis-open.org
		Last Modified: 08 April 2008  
		Last Modified by: Ram Kumar, Chair, OASIS CIQ TC 
		NOTE: Do not modify this schema as it will break specifications compatibility 
		</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="xAL-types.xsd"/>
	<xs:import namespace="urn:oasis:names:tc:ciq:ct:3" schemaLocation="CommonTypes.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink-2003-12-31.xsd"/>
	<xs:element name="Address" type="AddressType">
		<xs:annotation>
			<xs:documentation>Top level element for address with geocode details</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Complex type that defines the structure of an address with geocode details for reuse</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FreeTextAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container for free text address elements where address elements are not parsed </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressLine" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Free format address representation. An address can have more than one line. The order of the AddressLine elements must be preserved.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ct:String">
										<xs:attribute name="Type" type="AddressLineTypeList">
											<xs:annotation>
												<xs:documentation>What does the address line describe? e.g. Street details, suburb details, post code details, whole address, etc</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="ct:grDataQuality"/>
										<xs:anyAttribute namespace="##other"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CountryType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdministrativeArea" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the top-level area division in the country, such as state, district, province, island, region, etc. Note that some countries do not have this</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameElement" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Data associated with the Administrative Area. e.g. Full name of administrative area or part of it. eg. MI in USA, NSW in Australia, reference location to the administrative area</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ct:String">
										<xs:attributeGroup ref="ct:grAbbreviation"/>
										<xs:attribute name="NameType" type="AdministrativeAreaNameTypeList">
											<xs:annotation>
												<xs:documentation>semantics of data associated with name</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCode" type="AdministrativeAreaNameCodeList">
											<xs:annotation>
												<xs:documentation>Name of administrative area represented as a code. e.g. "COL" for COLORADO</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCodeType" type="ct:String">
											<xs:annotation>
												<xs:documentation>Type of code used to represent name as a code</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:anyAttribute namespace="##other"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubAdministrativeArea" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The next level down division of the area. E.g. state / county, province / reservation. Note that not all countries have a subadministrative area</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NameElement" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Data associated with the SubAdministrative Area. e.g. Full name of sub administrative area or part of it.  </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="ct:String">
													<xs:attributeGroup ref="ct:grAbbreviation"/>
													<xs:attribute name="NameType" type="SubAdministrativeAreaNameTypeList">
														<xs:annotation>
															<xs:documentation>semantics of data associated with name</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCode" type="SubAdministrativeAreaNameCodeList">
														<xs:annotation>
															<xs:documentation>Name of administrative area represented as a code. e.g. "COL" for COLORADO</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCodeType" type="ct:String">
														<xs:annotation>
															<xs:documentation>Type of code used to represent name as a code</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:anyAttribute namespace="##other"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Type" type="SubAdministrativeAreaTypeList">
									<xs:annotation>
										<xs:documentation>Type of sub administrative area</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ct:grDataQuality"/>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="AdministrativeAreaTypeList">
						<xs:annotation>
							<xs:documentation>Type of administrative area. e.g. state, city, town, etc</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Locality" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of Locality which is a named densely populated area  (a place) such as town, village, suburb, etc. A locality composes of many individual addresses.  Many localities exist in an administrative area or a sub administrative area. A locality can also have sub localities. For example, a municipality locality can have many villages associated with it which are sub localities. Example: Tamil Nadu State, Erode District, Bhavani Taluk, Paruvachi Village is a valid address in India. Tamil Nadu is the Administrative Area, Erode is the sub admin area, Bhavani is the locality, and Paruvachi is the sub locality</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameElement" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Data associated with the locality. e.g. Full name of the locality or part of it, reference location to the locality</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ct:String">
										<xs:attributeGroup ref="ct:grAbbreviation"/>
										<xs:attribute name="NameType" type="LocalityNameTypeList">
											<xs:annotation>
												<xs:documentation>semantics of data associated with name</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCode" type="LocalityNameCodeList">
											<xs:annotation>
												<xs:documentation>name of locality represented as a code</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NameCodeType" type="ct:String">
											<xs:annotation>
												<xs:documentation>type of code used to represent name as a code</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:anyAttribute namespace="##other"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SubLocality" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A locality that is smaller and is contained within the boundaries of its parent locality. Note that not all localities have sub locality. For example, many areas within a locality where each area is a sub locality</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NameElement" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Data associated with the sub locality. e.g. Full name of the locality or part of it, reference location to the locality</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="ct:String">
													<xs:attributeGroup ref="ct:grAbbreviation"/>
													<xs:attribute name="NameType" type="SubLocalityNameTypeList">
														<xs:annotation>
															<xs:documentation>semantics of data associated with name</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCode" type="SubLocalityNameCodeList">
														<xs:annotation>
															<xs:documentation>name of locality represented as a code</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NameCodeType" type="ct:String">
														<xs:annotation>
															<xs:documentation>type of code used to represent name as a code</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:anyAttribute namespace="##other"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Type" type="SubLocalityTypeList">
									<xs:annotation>
										<xs:documentation>Type of sub locality</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ct:grDataQuality"/>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="LocalityTypeList">
						<xs:annotation>
							<xs:documentation>Type of locality. e.g. suburb, area, zone, village, etc</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Thoroughfare" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the Access route along which buildings/lot/land are located, such as street, road, channel, crescent, avenue, etc. This also includes canals/banks on which houses/boat houses are located where people live</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ThoroughfareType">
							<xs:sequence>
								<xs:element name="SubThoroughfare" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>Another thoroughfare that is required to uniquely identify the location, such as an access route, intersection, corner, adjacent, boundary, etc</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="ThoroughfareType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Premises" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of the Premises (could be building(s), site, location, property, premise, place) which is a landmark place which has a main address such as large mail user (e.g. Airport, Hospital, University) or could be a building (e.g. apartment, house)  or a building or complex of buildings (e.g. an apartment complex or shopping centre) or even a vacant land (e.g. LOT). A premises can have many sub-addresses such as apartments in a building having its own addresses or buildings within an airport having its own addresses including its own thoroughfares</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PremisesType">
							<xs:sequence>
								<xs:element name="SubPremises" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Examples of sub-premises are apartments and suites in buildings, shops in malls, etc.  or sub-addresses in a land mark place such as airports, military bases, hospitals, etc. Some countries have blocks within blocks</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PremisesType">
												<xs:attribute name="Type" type="SubPremisesTypeList"/>
												<xs:attribute name="TypeCode" type="ct:String">
													<xs:annotation>
														<xs:documentation>Type of code used for sub premises type attribute</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="Type" type="PremisesTypeList"/>
							<xs:attribute name="TypeCode" type="ct:String">
								<xs:annotation>
									<xs:documentation>Type of code use for Premises Type attribute</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A container for a single free text or structured postcode. Note that not all countries have post codes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The postcode is formatted according to country-specific rules. Example: SW3 0A8-1A, 600074, 2067. This element can also be used to define the semantics of what each code in the post code means</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RuralDelivery" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A container for postal-specific delivery identifier for remote communities. Note that not all countries have RuralDelivery</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Free text or structured description of rural delivery route. e.g. RD 6, </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="RuralDeliveryTypeList">
						<xs:annotation>
							<xs:documentation>Type of rural delivery. For some addresses, delivery to rural areas happens via water, air or road</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostalDeliveryPoint" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Final mail delivery point where the mail is dropped off for recipients to pick them up directly. E.g. POBox, Private Bag,  pigeon hole, free mail numbers, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Free text or structured description of a postal delivery point.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="PostalDeliveryPointTypeList"/>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A delivery point/installation where all mails are delivered and the post man/delivery service picks up the mails and delivers it to the recipients through a delivery mode. Examples are a rural post office where post is delivered, a post office containing post office boxes/personal mail boxes. Note that not all countries have PostOffice. Can be used to represent overseas military addresses also along with PostalDeliveryPoint element</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="IdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Name or number of the post office in free text or structured form.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="PostOfficeTypeList">
						<xs:annotation>
							<xs:documentation>Indicates the type of postal delivery office from where the mail will be distributed to the final delivery point by a delivery mode.  Example: Post Office, Mail Collection Centre, Letter Carrier Depot,  Station, etc. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GeoRSS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>GeoRSS GML from Open Geospatial Consortium (OGC – www.opengeospatial.net) is a formal GML Application Profile, and supports a greater range of features than Simple, notably coordinate reference systems other than WGS84 latitude/longitude. It is designed for use with Atom 1.0, RSS 2.0 and RSS 1.0, although it can be used just as easily in non-RSS XML encodings. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="http://www.georss.org/georss" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Could be GeoRSS Simple or GeoRSS GML versions. Refer to http://georss.org/ and http://georss.org/gml for further documentation</xs:documentation>
							</xs:annotation>
						</xs:any>
					</xs:sequence>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="LocationByCoordinates" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Simple Geo-coordinates of the address/location</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Latitude" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Latitude details</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="DegreesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the latitude in degrees</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinutesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the latitude in minutes</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="SecondsMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the latitude in seconds</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Direction" type="DirectionTypeList">
									<xs:annotation>
										<xs:documentation>The direction of latitude measurement offset from the equator</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Longitude" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Longitude details</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="DegreesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the longitude in degrees</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinutesMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the longitude in minutes</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="SecondsMeasure" type="ct:String">
									<xs:annotation>
										<xs:documentation>Measure of the longitude in seconds</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Direction" type="DirectionTypeList">
									<xs:annotation>
										<xs:documentation>The direction of  longitude measurement offset from the equator</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:anyAttribute namespace="##other" processContents="lax"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Meridian" type="MeridianCodeList">
						<xs:annotation>
							<xs:documentation>The collection of the coordinate numeric values for latitude amd longitude depends on the agreed position of the meridian. Declaration of the meridian is necessary as it cannot be assumed in the data</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="MeridianCodeType" type="ct:String">
						<xs:annotation>
							<xs:documentation>Type of code used. e.g. EPSG Code</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Datum" type="DatumCodeList">
						<xs:annotation>
							<xs:documentation>The collection of the coordinate numeric values depends on the agreed datum within which the measurement was taken. Declaration of the datum is necessary as it cannot be assumed in the data</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="DatumCodeType" type="ct:String">
						<xs:annotation>
							<xs:documentation>Type of code used. e.g. EPSG Code, WGS-84</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Projection" type="ProjectionCodeList">
						<xs:annotation>
							<xs:documentation>Coordinates have limited utility and application depending on the projection required for visualisation in a map. Declaration of projection is necessary as it cannot be assumed in data</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ProjectionCodeType" type="ct:String">
						<xs:annotation>
							<xs:documentation>Type of code used. e.g. EPSG Code</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attributeGroup ref="ct:grDataQuality"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="AddressTypeList">
			<xs:annotation>
				<xs:documentation>Defines the type of address. An address type can be" Primary Address, Secondary Address, Rural Address, Military Address, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A unique address identifier such as postal delivery identifier assigned to the address by local postal authority, e.g. DPID in Australia.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressIDType" type="AddressIDTypeList">
			<xs:annotation>
				<xs:documentation>Type of address ID used. e.g. DPID, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="ct:String">
			<xs:annotation>
				<xs:documentation>A globally unique identifier assigned to the address</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Usage" type="AddressUsageList">
			<xs:annotation>
				<xs:documentation>The purpose the address is used for. E.g.  Postal, residential, business,  exchange, update, create, delete, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DeliveryMode" type="DeliveryModeList">
			<xs:annotation>
				<xs:documentation>Mode of delivery of address. For example: rural route, normal delivery, post office box, etc. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="ct:StatusList">
			<xs:annotation>
				<xs:documentation>Status of the entity. e.g. Old, Current, Inactive, Active, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grValidityDate"/>
		<xs:attribute name="AddressKey" type="ct:String">
			<xs:annotation>
				<xs:documentation>A primary key to reference Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AddressKeyRef" type="ct:String">
			<xs:annotation>
				<xs:documentation>A foreign key to reference attribute Key of Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xlink:type"/>
		<xs:attribute ref="xlink:label"/>
		<xs:attribute ref="xlink:href"/>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:attributeGroup ref="ct:grLanguageCode"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="CountryType">
		<xs:annotation>
			<xs:documentation>Complex type that defines the name of the country and is reused in other CIQ specs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameElement" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Data associated with the name of the country in whatever form available, e.g. full, abbreviation, common use, code of the country, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:attribute name="NameType" type="CountryNameTypeList">
								<xs:annotation>
									<xs:documentation>Semantics of data associated with name. </xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="NameCode" type="CountryNameCodeList">
								<xs:annotation>
									<xs:documentation>Name of the country represented as a code</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="NameCodeType" type="ct:String">
								<xs:annotation>
									<xs:documentation>Type of code used to represent name of country, e.g. iso-3166</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:anyAttribute namespace="##other"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>Complex type for internal reuse</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ct:String">
				<xs:attribute name="Type" type="IdentifierElementTypeList">
					<xs:annotation>
						<xs:documentation>Indicates which part of number or identifier this element contains. Some "numbers" are as simple as 42 and some "numbers" are more like complex alphanumeric identifiers as Postcodes in UK or Canada, e.g. M2H 2S5. It may be necessary to separate the "number" into sub-elements and indicate what type of information each of them contains.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attributeGroup ref="ct:grAbbreviation"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PremisesType">
		<xs:annotation>
			<xs:documentation>Complex type for internal reuse</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="NameElement">
				<xs:annotation>
					<xs:documentation>Data associated with the name of the Premises. e.g. Full name of premises or part of the name. E.g. Westfield shopping center, reference data to support the premises location, street in the premises</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:attribute name="NameType" type="PremisesElementTypeList">
								<xs:annotation>
									<xs:documentation>Describes the type / part of name this element contains.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:anyAttribute namespace="##other"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Number" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>Data associated with the number of the premises. E.g.House 15, number range, number suffix</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ThoroughfareType">
		<xs:annotation>
			<xs:documentation>Complex type for internal reuse</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="NameElement">
				<xs:annotation>
					<xs:documentation>Data associated with the thoroughfare details. e.g. Full thoroughfare name or part of it, type of thoroughfare, old name, new name, reference data in support of the thoroughfare</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ct:String">
							<xs:attributeGroup ref="ct:grAbbreviation"/>
							<xs:attribute name="NameType" type="ThoroughfareNameTypeList">
								<xs:annotation>
									<xs:documentation>Describes the type / part of name this element contains.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:anyAttribute namespace="##other"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Number" type="IdentifierType">
				<xs:annotation>
					<xs:documentation>Data associated with the number of the thoroughfare. E.g. 39 in 39 Baker Street, street range, street suffix</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Type" type="ThoroughfareTypeList">
			<xs:annotation>
				<xs:documentation>Type of thoroughfare. eg. primary road, secondary road, road branch (e.g. Lane 14), road sub branch (e.g. Alley 21), adjourning street, cross street, closest street, etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TypeCode" type="ct:String">
			<xs:annotation>
				<xs:documentation>Type of code use for thoroughfare</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="ct:grDataQuality"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
