officecfg/registry/component-update.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT oor:node ((prop*), (node)*)>
<!ATTLIST oor:node
	oor:name CDATA #REQUIRED
	oor:context CDATA #REQUIRED
	oor:component CDATA #IMPLIED
	oor:finalized (true|false) #IMPLIED
	oor:mandatory (true|false) #IMPLIED
	oor:op (modify | replace | remove | reset) #IMPLIED
	oor:node-type NMTOKEN #IMPLIED
	xmlns:oor CDATA #FIXED "http://openoffice.org/2001/registry"
	xmlns:xs  CDATA #FIXED "http://www.w3.org/2001/XMLSchema"
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
>

<!ELEMENT node ((prop*), (node)*)>
<!ATTLIST node
	oor:name CDATA #REQUIRED
	oor:component CDATA #IMPLIED
	oor:finalized (true|false) #IMPLIED
	oor:mandatory (true|false) #IMPLIED
	oor:op (modify | replace | remove | reset) #IMPLIED
	oor:node-type NMTOKEN #IMPLIED
>

<!ELEMENT prop (value*)>
<!ATTLIST prop
	oor:name CDATA #REQUIRED
	oor:op (modify | replace | remove | reset) #IMPLIED
	oor:finalized CDATA #IMPLIED
	oor:type (xs:boolean | xs:short | xs:int | xs:long | xs:double | xs:string | xs:hexBinary |oor:boolean-list | oor:short-list | oor:int-list | oor:long-list | oor:double-list | oor:string-list | oor:hexBinary-list) #IMPLIED
>

<!ELEMENT value (#PCDATA)>
<!ATTLIST value
	xsi:nil (true|false) #IMPLIED
	oor:separator CDATA #IMPLIED
	xml:lang CDATA #IMPLIED
>
