xmloff/dtd/openoffice-2.0-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
	$Id: openoffice-2.0-schema.rng,v 1.2 2005-01-27 11:07:15 rt Exp $

   The Contents of this file are made available subject to the terms of
   either of the following licenses

          - GNU Lesser General Public License Version 2.1
          - Sun Industry Standards Source License Version 1.1

   Sun Microsystems Inc., October, 2000

   GNU Lesser General Public License Version 2.1
   =============================================
   Copyright 2000 by Sun Microsystems, Inc.
   901 San Antonio Road, Palo Alto, CA 94303, USA

   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License version 2.1, as published by the Free Software Foundation.

   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.

   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA  02111-1307  USA


   Sun Industry Standards Source License Version 1.1
   =================================================
   The contents of this file are subject to the Sun Industry Standards
   Source License Version 1.1 (the "License"); You may not use this file
   except in compliance with the License. You may obtain a copy of the
   License at http://www.openoffice.org/license.html.

   Software provided under this License is provided on an "AS IS" basis,
   WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING,
   WITHOUT LIMITATION, WARRANTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
   MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
   See the License for the specific provisions governing your rights and
   obligations concerning the Software.

   The Initial Developer of the Original Code is: Sun Microsystems, Inc.

   Copyright: 2004 by Sun Microsystems, Inc.

   All Rights Reserved.

   Contributor(s): _______________________________________
-->

<grammar
	xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"

    xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
    xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
    xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
>
<include href="office-strict-schema-1.0-cd-2.rng">

<!-- ==================== -->
<!-- replaced definitions -->
<!-- ==================== -->

<!-- list styles contained in graphic styles currently have no name (i36217) -->
<define name="text-list-style-attr" combine="interleave">
    <optional>
		<attribute name="style:name">
			<ref name="styleName"/>
		</attribute>
	</optional>
</define>
<define name="text-list-style-attr" combine="interleave">
    <optional>
        <attribute name="style:display-name">
            <ref name="string"/>
        </attribute>
    </optional>
</define>
<define name="text-list-style-attr" combine="interleave">
    <optional>
        <attribute name="text:consecutive-numbering" a:defaultValue="false">
            <ref name="boolean"/>
        </attribute>
    </optional>
</define>

</include>

<!-- ====================== -->
<!-- additional definitions -->
<!-- ====================== -->

<!-- The following definition is obsolete, but required for legacy -->
<!-- files that have their origin in binary files (i35420).        -->
<define name="chart-plot-area-attlist" combine="interleave">
	<optional>
		<attribute name="chart:table-number-list">
			<ref name="string"/>
		</attribute>
	</optional>
</define>

<!-- List styles contained in graphic styles currently are -->
<!-- enabled by the following attribute (i36217).          -->
<define name="style-paragraph-properties-attlist" combine="interleave">
	<optional>
		<attribute name="text:enable-numbering">
			<ref name="boolean"/>
		</attribute>
	</optional>
</define>

</grammar>
