xmloff/dtd/openoffice-2.0-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
	$Id: openoffice-2.0-schema.rng,v 1.3 2005-09-09 12:32:14 rt Exp $

    OpenOffice.org - a multi-platform office productivity suite
 
    $RCSfile: openoffice-2.0-schema.rng,v $
 
    $Revision: 1.3 $
 
    last change: $Author: rt $ $Date: 2005-09-09 12:32:14 $
 
    The Contents of this file are made available subject to
    the terms of GNU Lesser General Public License Version 2.1.
 
 
      GNU Lesser General Public License Version 2.1
      =============================================
      Copyright 2005 by Sun Microsystems, Inc.
      901 San Antonio Road, Palo Alto, CA 94303, USA
 
      This library is free software; you can redistribute it and/or
      modify it under the terms of the GNU Lesser General Public
      License version 2.1, as published by the Free Software Foundation.
 
      This library is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
      Lesser General Public License for more details.
 
      You should have received a copy of the GNU Lesser General Public
      License along with this library; if not, write to the Free Software
      Foundation, Inc., 59 Temple Place, Suite 330, Boston,
      MA  02111-1307  USA
 
-->

<grammar
	xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"

    xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
    xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
    xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
>
<include href="office-strict-schema-1.0-cd-2.rng">

<!-- ==================== -->
<!-- replaced definitions -->
<!-- ==================== -->

<!-- list styles contained in graphic styles currently have no name (i36217) -->
<define name="text-list-style-attr" combine="interleave">
    <optional>
		<attribute name="style:name">
			<ref name="styleName"/>
		</attribute>
	</optional>
</define>
<define name="text-list-style-attr" combine="interleave">
    <optional>
        <attribute name="style:display-name">
            <ref name="string"/>
        </attribute>
    </optional>
</define>
<define name="text-list-style-attr" combine="interleave">
    <optional>
        <attribute name="text:consecutive-numbering" a:defaultValue="false">
            <ref name="boolean"/>
        </attribute>
    </optional>
</define>

</include>

<!-- ====================== -->
<!-- additional definitions -->
<!-- ====================== -->

<!-- The following definition is obsolete, but required for legacy -->
<!-- files that have their origin in binary files (i35420).        -->
<define name="chart-plot-area-attlist" combine="interleave">
	<optional>
		<attribute name="chart:table-number-list">
			<ref name="string"/>
		</attribute>
	</optional>
</define>

<!-- List styles contained in graphic styles currently are -->
<!-- enabled by the following attribute (i36217).          -->
<define name="style-paragraph-properties-attlist" combine="interleave">
	<optional>
		<attribute name="text:enable-numbering">
			<ref name="boolean"/>
		</attribute>
	</optional>
</define>

</grammar>
