xmlscript/dtd/dialog.dtd

<!--
	$Id: dialog.dtd,v 1.1 2001-02-27 12:19:03 dbo Exp $

   The Contents of this file are made available subject to the terms of
   either of the following licenses

          - GNU Lesser General Public License Version 2.1
          - Sun Industry Standards Source License Version 1.1

   Sun Microsystems Inc., October, 2000

   GNU Lesser General Public License Version 2.1
   =============================================
   Copyright 2000 by Sun Microsystems, Inc.
   901 San Antonio Road, Palo Alto, CA 94303, USA

   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License version 2.1, as published by the Free Software Foundation.

   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.

   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA  02111-1307  USA


   Sun Industry Standards Source License Version 1.1
   =================================================
   The contents of this file are subject to the Sun Industry Standards
   Source License Version 1.1 (the "License"); You may not use this file
   except in compliance with the License. You may obtain a copy of the
   License at http://www.openoffice.org/license.html.

   Software provided under this License is provided on an "AS IS" basis,
   WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING,
   WITHOUT LIMITATION, WARRANTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
   MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
   See the License for the specific provisions governing your rights and
   obligations concerning the Software.

   The Initial Developer of the Original Code is: Sun Microsystems, Inc.

   Copyright: 2000 by Sun Microsystems, Inc.

   All Rights Reserved.

   Contributor(s): _______________________________________

-->

<!ENTITY % boolean "(true|false)">
<!ENTITY % decimal "(0|1|2|3|4|5|6|7|8|9)">
<!ENTITY % numeric "CDATA">
<!ENTITY % date-format "(system short|system short YY|system short YYYY|system long|short DDMMYY|short MMDDYY|short YYMMDD|short DDMMYYYY|short MMDDYYYY|short YYYYMMDD|short YYMMDD DIN5008|short YYYYMMDD DIN5008)">
<!ENTITY % time-format "(24h short|24h long|12h short|12h long|Duration short|Duration long)">

<!ENTITY % pos "dialog:left %numeric; #REQUIRED dialog:top %numeric; #REQUIRED">
<!ENTITY % size "dialog:width %numeric; #REQUIRED dialog:height %numeric; #REQUIRED">

<!ENTITY % default-attributes "dialog:id CDATA #REQUIRED
			       dialog:style-id CDATA #IMPLIED
			       %pos;
			       %size;
			       dialog:printable %boolean; #IMPLIED
			       dialog:disabled %boolean; #IMPLIED
			       ">

<!ENTITY % control "(dialog:bulletinboard|dialog:button|dialog:checkbox|dialog:menulist|dialog:radiogroup|dialog:titledbox|dialog:textfield|dialog:text|dialog:currencyfield|dialog:filecontrol|dialog:img|dialog:datefield|dialog:numericfield|dialog:patternfield)">
		    
<!ELEMENT dialog:dialogs (dialog:window*)>
<!ATTLIST dialog:dialogs xmlns:dialog CDATA #FIXED "http://openoffice.org/2000/dialog">

<!ELEMENT dialog:window (dialog:styles*, dialog:bulletinboard*)>
<!ATTLIST dialog:window %pos; %size; dialog:value CDATA #IMPLIED>

<!ELEMENT dialog:styles (dialog:style+)>

<!ELEMENT dialog:style EMPTY>
<!ATTLIST dialog:style dialog:style-id CDATA #REQUIRED
		       dialog:background-color %numeric; #IMPLIED
		       dialog:text-color %numeric; #IMPLIED
		       dialog:border (none|3d|simple) #IMPLIED
		       dialog:font-name CDATA #IMPLIED
		       dialog:font-height %numeric; #IMPLIED
		       dialog:font-width %numeric; #IMPLIED
		       dialog:font-stylename CDATA #IMPLIED
		       dialog:font-family (decorative|modern|roman|script|swiss|system) #IMPLIED
		       dialog:font-charset (ansi|mac|ibmpc_437|ibmpc_850|ibmpc_860|ibmpc_861|ibmpc_863|ibmpc_865|system|symbol) #IMPLIED
		       dialog:font-pitch (fixed|variable) #IMPLIED
		       dialog:font-charwidth CDATA #IMPLIED
		       dialog:font-weight CDATA #IMPLIED
		       dialog:font-slant (oblique|italic|reverse_oblique|reverse_italic) #IMPLIED
		       dialog:font-underline (single|double|dotted|dash|longdash|dashdot|dashdotdot|smallwave|wave|doublewave|bold|bolddotted|bolddash|boldlongdash|bolddashdot|bolddashdotdot|boldwave) #IMPLIED
		       dialog:font-strikeout (single|double|bold|slash|x) #IMPLIED
		       dialog:font-orientation CDATA #IMPLIED
		       dialog:font-kerning %boolean; #IMPLIED
		       dialog:font-wordlinemode %boolean; #IMPLIED
		       dialog:font-type (raster|device|scalable) #IMPLIED
		       >

<!ELEMENT dialog:event EMPTY>
<!ATTLIST dialog:event dialog:listener-type CDATA #REQUIRED
		       dialog:event-method CDATA #REQUIRED
		       dialog:script-type CDATA #IMPLIED
		       dialog:script-code CDATA #IMPLIED
		       dialog:param CDATA #IMPLIED
			>
			
<!ELEMENT dialog:bulletinboard (%control;*)>
<!ATTLIST dialog:bulletinboard %pos;>

<!ELEMENT dialog:button (dialog:event*)>
<!ATTLIST dialog:button %default-attributes;
			dialog:value CDATA #IMPLIED
			dialog:default %boolean; #IMPLIED
			dialog:tabstop %boolean; #IMPLIED
			>

<!ELEMENT dialog:checkbox (dialog:event*)>
<!ATTLIST dialog:checkbox %default-attributes;
			  dialog:value CDATA #IMPLIED
			  dialog:checked %boolean; #IMPLIED
			  dialog:tristate %boolean; #IMPLIED
			  dialog:tabstop %boolean; #IMPLIED
			  >

<!ELEMENT dialog:combobox (dialog:menupopup?, dialog:event*)>
<!ATTLIST dialog:combobox %default-attributes;
			  dialog:tabstop %boolean; #IMPLIED
			  dialog:readonly %boolean; #IMPLIED
			  dialog:autocomplete %boolean; #IMPLIED
			  dialog:spin %boolean; #IMPLIED
			  dialog:maxlength %numeric; #IMPLIED
			  dialog:linecount %numeric; #IMPLIED
			  dialog:value CDATA #IMPLIED
			  >

<!ELEMENT dialog:menulist (dialog:menupopup?, dialog:event*)>
<!ATTLIST dialog:menulist %default-attributes;
			  dialog:tabstop %boolean; #IMPLIED
			  dialog:spin %boolean; #IMPLIED
			  dialog:multiselection %boolean; #IMPLIED
			  dialog:linecount %numeric; #IMPLIED
			  >

<!ELEMENT dialog:menupopup (dialog:menuitem+)>
<!ELEMENT dialog:menuitem EMPTY>
<!ATTLIST dialog:menuitem dialog:value CDATA #REQUIRED
			  dialog:selected %boolean; #IMPLIED
			  >

<!ELEMENT dialog:radiogroup (dialog:radio+)>
<!ELEMENT dialog:radio (dialog:event*)>
<!ATTLIST dialog:radio %default-attributes;
		       dialog:tabstop %boolean; #IMPLIED
		       dialog:value CDATA #IMPLIED
		       dialog:checked %boolean; #IMPLIED
		       dialog:tristate %boolean; #IMPLIED
		       >

<!ELEMENT dialog:titledbox (dialog:title?, dialog:radio*, %control;*)>
<!ATTLIST dialog:titledbox %default-attributes;
			   >
<!ELEMENT dialog:title EMPTY>
<!ATTLIST dialog:title dialog:value CDATA #IMPLIED
		       >

<!ELEMENT dialog:text EMPTY>
<!ATTLIST dialog:text %default-attributes;
		      dialog:align (left|center|right|none) #IMPLIED
		      dialog:multiline %boolean; #IMPLIED
		      dialog:value CDATA #IMPLIED
		      >

<!ELEMENT dialog:textfield (dialog:event*)>
<!ATTLIST dialog:textfield %default-attributes;
			   dialog:tabstop %boolean; #IMPLIED
			   dialog:align (left|center|right|none) #IMPLIED
			   dialog:readonly %boolean; #IMPLIED
			   dialog:echochar CDATA #IMPLIED
			   dialog:hard-linebreaks %boolean; #IMPLIED
			   dialog:hscroll %boolean; #IMPLIED
			   dialog:vscroll %boolean; #IMPLIED
			   dialog:maxlength %numeric; #IMPLIED
			   dialog:multiline %boolean; #IMPLIED
			   dialog:value CDATA #IMPLIED
			   >

<!ELEMENT dialog:img (dialog:event*)>
<!ATTLIST dialog:img %default-attributes;
		     dialog:src CDATA #IMPLIED
		     >

<!ELEMENT dialog:filecontrol (dialog:event*)>
<!ATTLIST dialog:filecontrol %default-attributes;
			     dialog:tabstop %boolean; #IMPLIED
			     dialog:value CDATA #IMPLIED
			     >
			     
<!ELEMENT dialog:currencyfield (dialog:event*)>
<!ATTLIST dialog:currencyfield %default-attributes;
			       dialog:tabstop %boolean; #IMPLIED
			       dialog:readonly %boolean; #IMPLIED
			       dialog:currency-symbol CDATA #IMPLIED
			       dialog:strict-format %boolean; #IMPLIED
			       dialog:decimal-accuracy %numeric; #IMPLIED
			       dialog:thousands-separator %boolean; #IMPLIED
			       dialog:value CDATA #IMPLIED
			       dialog:value-min CDATA #IMPLIED
			       dialog:value-max CDATA #IMPLIED
			       dialog:value-step CDATA #IMPLIED
			       dialog:spin %boolean; #IMPLIED
			       >
				
<!ELEMENT dialog:datefield (dialog:event*)>
<!ATTLIST dialog:datefield %default-attributes;
			   dialog:tabstop %boolean; #IMPLIED
			   dialog:readonly %boolean; #IMPLIED
			   dialog:strict-format %boolean; #IMPLIED
			   dialog:date-format %date-format; #IMPLIED
			   dialog:value %numeric; #IMPLIED
			   dialog:value-min %numeric; #IMPLIED
			   dialog:value-max %numeric; #IMPLIED
			   dialog:spin %boolean; #IMPLIED
			   >

<!ELEMENT dialog:numericfield (dialog:event*)>
<!ATTLIST dialog:numericfield %default-attributes;
			      dialog:tabstop %boolean; #IMPLIED
			      dialog:readonly %boolean; #IMPLIED
			      dialog:strict-format %boolean; #IMPLIED
			      dialog:decimal-accuracy %numeric; #IMPLIED
			      dialog:thousands-separator %boolean; #IMPLIED
			      dialog:value CDATA #IMPLIED
			      dialog:value-min CDATA #IMPLIED
			      dialog:value-max CDATA #IMPLIED
			      dialog:value-step CDATA #IMPLIED
			      dialog:spin %boolean; #IMPLIED
			      >

<!ELEMENT dialog:timefield (dialog:event*)>
<!ATTLIST dialog:timefield %default-attributes;
			   dialog:tabstop %boolean; #IMPLIED
			   dialog:readonly %boolean; #IMPLIED
			   dialog:strict-format %boolean; #IMPLIED
			   dialog:time-format %time-format; #IMPLIED
			   dialog:value CDATA #IMPLIED
			   dialog:value-min CDATA #IMPLIED
			   dialog:value-max CDATA #IMPLIED
			   dialog:spin %boolean; #IMPLIED
			   >
				
<!ELEMENT dialog:patternfield (dialog:event*)>
<!ATTLIST dialog:patternfield %default-attributes;
			      dialog:tabstop %boolean; #IMPLIED
			      dialog:readonly %boolean; #IMPLIED
			      dialog:strict-format %boolean; #IMPLIED
			      dialog:value CDATA #IMPLIED
			      dialog:edit-mask CDATA #IMPLIED
			      dialog:literal-mask CDATA #IMPLIED
			      >

